.banner__outer {
  font-family: "Delius Swash Caps", cursive;
  width: 100%;
  background-image: url("/images/banner-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-color: #0074d9;
  padding: 90px 10px;
  transition: 0.5s;
  position: sticky;
  text-align: center;
  height: 100vh;
}

.banner__outer .banner__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  height: 3rem;
}

.banner__title {
  text-shadow: 0 0 10px #222;
}

.banner__title h1 {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.banner__title h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  font-style: italic;
}
