.banner__title {
    font-family: 'Delius Swash Caps', cursive;
    width: 100%;
    background-image: url("/images/banner-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    background-color: #0074D9;
    padding: 90px 10px;
    transition: 0.4s;
    position: fixed;
    top: 0;
    text-align: center;
}

.banner__nav {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner__title {
    text-shadow: 0 0 10px #222;
}

.banner__title  h1{
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.banner__title h2 {
    font-size: 1.8rem;;
    margin-bottom: 10px;
    font-style: italic;
}
