.navbar__container {
  top: 0;
  z-index: 1;
  position: sticky;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  background-color: #fff;
  color: #333;
  font-weight: 600;
  top: 0;
  z-index: 1;
  width: 100%;
  opacity: 0.7;
}

.navbar > *:not:first-child {
  margin-left: 1rem;
}

.navbar li {
  list-style: none;
  flex: 1;
  width: fit-content;
}

.left {
  text-align: left;
  margin-left: 0.5rem;
}

.right {
  text-align: right;
  margin-right: 0.5rem;
}

.cart {
  margin-right: 1rem;
}

.basket_count{
  position:absolute;
  top:1.8rem;
  right:1.5rem;
  text-align:center;
  background-color: #333;
  color:#fff;
  height:1.5rem;
  width:1.5rem;
  border-radius:50%;
}