@import url("https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Figtree:ital,wght@0,300;0,600;1,300&display=swap");
:root {
  --background-colour: #333;
  --foreground-colour: #fff;
  --heading-font-size: 2rem;
  --subheading-font-size: 1.4rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Figtree", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
  background-color: var(--background-colour);
  color: var(--foreground-colour);
  position: relative;
}

p {
  margin-bottom: 2rem;
  line-height: 2rem;
}

@media screen and (min-width: 768px) {
  :root{
    --heading-font-size: 4rem;
    --subheading-font-size: 2rem;
  }
}